* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roman;
}
.main_container {
  height: 100%;
  width: 100%;
}
.profile_container {
  height: 500px;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.background_img {
  height: 250px;
  width: 100%;
  transform: scale(0.9);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.user_img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: 6px solid white;
  margin-top: -100px;
  z-index: 123;
}
.profile_container h1 {
  background: none;
  color: #333333;
  font-size: 25px;
}
.profile_container p {
  background: none;
  text-align: center;
  transform: scale(0.9);
  font-size: 20px;
  font-weight: 400;
  color: #383838;
}